@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tienne:wght@700&display=swap');
body {
  font-family: 'Lato', sans-serif;
    opacity: 93%;
    background-image: url("/images/favour-otunji-dD7xFyDzES4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    line-height: 1.5;
  }

h1{
    font-family: 'Tienne', serif;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px #000000;
  }

  #chat-area {
    background-image: url('/img/angelo-pantazis-qbjQQZcaeBI-unsplash.jpg');
    background-size: cover;
    right: 100%;
    background-position: center;
    width: 40%;
    background-color: #ffffff;
    margin: 30px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }

  #chat-form{
    height: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  #input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #e0e0e0;
  }

  #input {
    flex-grow: 6;
    height: 40px;
    padding: 0 16px;
    border: 1px solid bisque;
    border-radius: 10px;
    background-color:#cccccc;
    font-size: 16px;
  }

  #btnBtn {
    margin-left: 16px;
    height: 40px;
    width: 80px;
    border: 1px solid bisque;
    border-radius: 10px;
    background-color: #cccccc;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }

  .message-outer-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    color: white;
    height: 400px;
  }

  .message-outer-container.user {
    justify-content: flex-end;
  }

  #bot {
    padding: 15px 20px;
    background: bisque;
    color: black;
    border-radius: 10px;
    max-width: 70%;
    line-height: 2;
  }

  #user {
    padding: 15px 20px;
    background: #2D5A27;
    border-radius: 10px;
    max-width: 70%;
  }

  .timestamp {
    font-size: 14px;
    color: beige;
    margin-bottom: 5px;
  }
  
  /* Media Queries */
    @media screen and  ( max-width: 768px) {
        #chat-area {
        width: 100%;
        background-image: url("/img/volkan-vardar-1H30uRC1plc-unsplash.jpg");
        }
        
        #chat-form {
        height: 300px;
        }

        #input-area {
        flex-direction: column;
        }

        #input {
        width: 100%;
        margin-bottom: 10px;
        }

        #btnBtn {
        width: 100%;
        }

        .message-outer-container {
        height: 300px;
        }

        .message-outer-container.user {
        justify-content: flex-end;
        }

        #bot {
        padding: 15px 20px;
        background: bisque;
        border-radius: 10px;
        max-width: 70%;
        }

        #user {
        padding: 15px 20px;
        background: #2D5A27;
        border-radius: 10px;
        max-width: 70%;
        }

        .timestamp {
          font-size: 16px;
          color: beige;
          margin-bottom: 5px;
        }      

    }

